@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using OnlineStore.Shared

@inject OnlineStore.Services.AccountService account_service
@inject OnlineStore.Services.Authentication authentication
@inject NavigationManager nav_manager

<PageTitle>OnlineStore</PageTitle>

<div>
	<div>
		<NavMenu/>
	</div>

	<main>
		<div>
			<a href="/">Home</a>
			<a href="/shop">Shop</a>
			<a href="/checkout">Checkout</a>
			<AuthorizeView>
				<Authorized>
					<a href="/account">Account</a>
					<a @onclick="logout" href="javascript:void(0)">Logout</a>
				</Authorized>

				<NotAuthorized>
					<a href="/login">Login</a>
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<article>
			@Body
		</article>
	</main>

</div>

@code
{
	private async Task logout()
	{
		await authentication.updateAuthenticationState(null);
		nav_manager.NavigateTo("/", true);
	}
}