@page "/"

@inject IJSRuntime js
@inject OnlineStore.Services.AccountService account_service

@using OnlineStore.Services;
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<header>
	<div>
		<p>this is a header</p>
	</div>
</header>

<AuthorizeView>
	<Authorized>
		<h1>Welcome, @user_name.</h1>
	</Authorized>

	<NotAuthorized>
		<h1>Welcome, Guest.</h1>
	</NotAuthorized>
</AuthorizeView>


@code
{
	[CascadingParameter]
	private Task<AuthenticationState> authentication_state { get; set; }
	private string user_name;

	protected override async Task OnInitializedAsync()
	{
		var auth_state = await authentication_state;
		string account_id = auth_state.User.Identity.Name;
		if (account_id is null)
			return;

		Account account = account_service.getAccountById(account_id);
		user_name = account.personal_data.getFullName();
		base.OnInitialized();
	}

}
