@page "/shop"

@inject IJSRuntime js

<h3>Shop</h3>

<div class="item_list_wrapper">
	<div class="item_list">
		@foreach (var s in shop.stock_manager.items_in_stock)
		{
			<div class="item_wrapper">
				<div class="item_image" @onclick="() => addToCart(s.id)">
					<p>@s.id</p>
				</div>
				<div class="item_price">
					<p class="item_price_p">@s.price</p>
				</div>
			</div>
		}
	</div>

</div>

@code {

	Shop shop = new Shop();

	public async void addToCart(string itemId)
	{
		await js.InvokeVoidAsync("alert", $"Item #{itemId} added to cart!");

		// get item by id
		shop.shopping_cart.addItem(itemId);
	}
}
