@page "/register"


<div class="registration_element">
	<div>
		<p>First name</p>
		<input id="first_name"/>
		<p>Second name</p>
		<input id="second_name"/>
		<p>Phone number</p>
		<input id="phone_number"/>
		<p>Email</p>
		<input id="email"/>
		<p>Password</p>
		<input id="password"/>
	</div>
	<div>
	<input type="checkbox" class="input_checkbox" name="tos"/>
	<label for="tos">I have read and agree with <a href="" class="link_tos">Terms of Service</a></label>
	<button>Register</button>
	</div>
</div>



@code {

}
