@page "/shop"

<h3>Shop</h3>

<div class="item_list">

	<div class="item_row">
		<div class="item">
		</div>

		<div class="item">
		</div>

		<div class="item">
		</div>
	</div>


	<div class="item_row">
		<div class="item">
		</div>

		<div class="item">
		</div>

		<div class="item">
		</div>
	</div>

</div>

@code {

}
